{% extends "side-menu.html" %} 
{% block body %}
<div class="main-add-admin">
     <div class="row">
</div>
<form action="/add-admin" method="POST">
     {% csrf_token%}
<div class="form-student">
     <div class="row-1">
          <div class="col-1">
          <label>First Name:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="First Name"  name="first_name" required="required"/>
                </div>
          </div>
          <div class="col-1">
          <label>Last Name:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Last Name"  name="last_name"required="required"/>
                </div>
          </div>
</div>

     <div class="row-2">
           <div class="col-1">
                <label>Father First Name:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Father First  Name"  name="father_first_name" required="required"/>
                </div>
          </div>
          <div class="col-1">
          <label>Father Last Name:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Father Last Name"  name="father_last_name"required="required"/>
                </div>
     </div>
     </div>

     <div class="row-3">
           <div class="col-1">
                <label>Mobile Number :</label>
                <div class="group">
                    <input type="number" class="form-control" placeholder="+91-7991198925"  name="mobile_number"required="required"/>
                </div>
          </div>
          <div class="col-1">
          <label>Alternate Mobile Number:</label>
                <div class="group">
                    <input type="number" class="form-control" placeholder="+91-7991198925"  name="alternate_number"required="required"/>
                </div>
     </div>
     </div>
     <div class="row-4">

     <div class="col-2">
          <label>Email-Id:</label>
               <div class="group">
                 <input type="email"  style='border:none;outline:none;'class="form-control" placeholder="Vishalgupta.itcs@gmail.com"  name="email_id"required="@gmail.com"/>
               </div>
     </div>
           <div class="col-2">
                <label>Gender :</label>
                    <select  class="group" name="gender" >
                         <option value = "Male" >Male</option>
                         <option value = "Female" >Female</option> 
                         <option value = "Other" >Other</option>
                    </select>
          </div>
          <div class="col-2">
          <label>Blood Group :</label>
              <select  class="group" name="blood_group" required="required">
                     <option value="A+">A+</option>
                     <option value="B+">B+</option>
                     <option value="A-">A-</option>
                     <option value="B-">B-</option>
                     <option value="AB+">AB+</option>
                     <option value="AB-">AB-</option>
                     <option value="O+">O+</option>
                     <option value="O-">O-</option>
                </select>
     </div>
     </div>

     <div class="row-5">
           <div class="col-1">
                <label>Community :</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Community"  name="community"required="required"/>
                </div>
          </div>
          <div class="col-1">
          <label>Religion:</label>
                <div class="group">
                    <input type="text" class="form-control" placeholder="Religion"  name="religion"required="required"/>
                </div>
          </div>
     </div>
     <div class="row-6">
           <div class="col-1">
                <label>Date of  Birth :</label>
                <div class="group">
                    <input type="date" style='border:none;outline:none;' class="form-control" placeholder="DD-MM-YYYY"  name="dob"required="required"/>
                </div>
          </div>
          <div class="col-1">
                <label>Password :</label>
                <div class="group">
                    <input type="password" class="form-control" placeholder="Password"  name="password"required="required"/>
                </div>
          </div>
     </div>

     <div class="row-8">
          <input type="submit" class="st-submit" name="submit"/>
     </div>
     </div>
</form>
 </div>
 {% endblock body %}
