{% extends "side-menu.html" %} 
{% block body %}
{% load static %}
<div class="dinner-main">
    <div class="dinner-row">
        <div class="dinner-col">
            <div class="dinner-col-first">
            </div>
            <div class="dinner-col-second" style='background:white;'>
                <img src="{% static 'images/dinner-img.png' %}" alt="" height='150px' width='150px'style=' margin-left:5px; margin-top:20px;'>
            </div>
            <div class="dinner-col-third">
            </div>
        </div>
        <div class="dinner-col-1">
            <div class="breakfst-menu">
            <p>Sunday</p>
            <div>
                <span>Chicken</span>
                <span>Rice</span>
            </div>
            <p>Monday:</p>
            <div>
                <span>Panner</span><br>
                <span>Chapti</span>
            </div>
            <p>Tuesday</p>
            <div>
                <span>Briyani</span>
                <span>Curd</span>
            </div>
            <p>Wednesday</p>
            <div>
                <span>Vegetable</span>
                <span>Chapti</span>
            </div>
            <p>Thrusday</p>
            <div>
                <span>Chicken</span>
                <span>Rice</span>
            </div>
            <p>Friday</p>
            <div>
                <span>Egg Curry</span>
                <span>Rice</span>
            </div>
            <p>Saturday</p>
            <div>
                <span>Vegetable</span>
                <span>Chapti</span>
            </div>

    </div>
    </div>
    </div>
</div>
{% endblock body %}


