{% extends "side-menu.html" %} 
{% block body %}

<div class="container">
        <div class="header">
        </div>
        <div class="content">
            <div class="cards">
                <div class="card1">
                    <div class="box">
                        <a href="room-change">Room Change</a>
                    </div>
                    <div class="icon-case">
                        <img src="#" alt="">
                    </div>
                </div>
                <div class="card1">
                    <div class="box">
                       <a href="complain"> Complain</a>
                    </div>
                    <div class="icon-case">
                        <img src="#" alt="">
                    </div>
                </div>
                

            </div>
            
            </div>
        </div>
        {% endblock body %}
