{% extends "side-menu.html" %} 
{% block body %}
<div class="main">
    <div class="row">
      <div class="row-main">
        <div class="row-man-col">
            <h2>Ground Floor Room</h2>
        </div>
    </div>
             <div class="g-row">
                 <a href='student-list-1500'>
                 <div class="g-row-col1">
                     <h1> 1500 </h1>
                 </div>
                </a>
                <a href='student-list-1501'>
                    <div class="g-row-col1">
                        <h1> 1501 </h1>
                    </div>
                   </a>
                   <a href='student-list-1502'>
                    <div class="g-row-col1">
                        <h1> 1502 </h1>
                    </div>
                   </a>
                   <a href='student-list-1503'>
                    <div class="g-row-col1">
                        <h1> 1503 </h1>
                    </div>
                   </a>
             </div>
             <div class="g-row">
                <a href='student-list-1504'>
                    <div class="g-row-col1">
                        <h1> 1504 </h1>
                    </div>
                   </a>
                   <a href='student-list-1505'>
                    <div class="g-row-col1">
                        <h1> 1505 </h1>
                    </div>
                   </a>
                   <a href='student-list-1506'>
                    <div class="g-row-col1">
                        <h1> 1506 </h1>
                    </div>
                   </a>
                   <a href='student-list-1507'>
                    <div class="g-row-col1">
                        <h1> 1507 </h1>
                    </div>
                   </a>
             </div>
             <div class="g-row">
                <a href='student-list-1508'>
                    <div class="g-row-col1">
                        <h1> 1508 </h1>
                    </div>
                   </a>
                   <a href='student-list-1509'>
                    <div class="g-row-col1">
                        <h1> 1509 </h1>
                    </div>
                   </a>
                   <a href='student-list-1510'>
                    <div class="g-row-col1">
                        <h1> 1510 </h1>
                    </div>
                   </a>
                   <a href='student-list-1511'>
                    <div class="g-row-col1">
                        <h1> 1511 </h1>
                    </div>
                   </a>
             </div>
             <div class="g-row">
                <a href='student-list-1512'>
                    <div class="g-row-col1">
                        <h1> 1512 </h1>
                    </div>
                   </a>
                   <a href='student-list-1513'>
                    <div class="g-row-col1">
                        <h1> 1513 </h1>
                    </div>
                   </a>
                   <a href='student-list-1514'>
                    <div class="g-row-col1">
                        <h1> 1514 </h1>
                    </div>
                   </a>
                   <a href='student-list-1515'>
                    <div class="g-row-col1">
                        <h1> 1516 </h1>
                    </div>
                   </a>
             </div>
             <div class="g-row">
                <a href='student-list-1517'>
                    <div class="g-row-col1">
                        <h1> 1517 </h1>
                    </div>
                   </a>
                   <a href='student-list-1518'>
                    <div class="g-row-col1">
                        <h1> 1518 </h1>
                    </div>
                   </a>
                   <a href='student-list-1519'>
                    <div class="g-row-col1">
                        <h1> 1519 </h1>
                    </div>
                   </a>
                   <a href='student-list-1520'>
                    <div class="g-row-col1">
                        <h1> 1520 </h1>
                    </div>
                   </a>
             </div>
             <div class="g-row">
                <a href='student-list-1521'>
                    <div class="g-row-col1">
                        <h1> 1521 </h1>
                    </div>
                   </a>>
                   <a href='student-list-1522'>
                    <div class="g-row-col1">
                        <h1> 1522 </h1>
                    </div>
                   </a>
                   <a href='student-list-1523'>
                    <div class="g-row-col1">
                        <h1> 1523 </h1>
                    </div>
                   </a>
                   <a href='student-list-1524'>
                    <div class="g-row-col1">
                        <h1> 1524 </h1>
                    </div>
                   </a>
             </div>
             <div class="g-row">
                <a href='student-list-1525'>
                    <div class="g-row-col1">
                        <h1> 1525 </h1>
                    </div>
                   </a>
                   <a href='student-list-1526'>
                    <div class="g-row-col1">
                        <h1> 1500 </h1>
                    </div>
                   </a>
                   <a href='student-list-1527'>
                    <div class="g-row-col1">
                        <h1> 1527 </h1>
                    </div>
                   </a>
                   <a href='student-list-1528'>
                    <div class="g-row-col1">
                        <h1> 1529 </h1>
                    </div>
                   </a>
             </div>
        </div>
        {% endblock body %}