{% extends "side-menu.html" %} 
{% block body %} 
        
        <div class="main">
                <div class="row">
        </div>
        <div class="at-main">
                <div class="at-col-1">
                <div class="hostel-name" > <a href="#"> G-Floor </a></div>
        </div>
        <div class="at-col-2">
        <div class="hostel-name" > <a href="#"> 1st-floor </a></div>
        </div>
        </div>
        <div class="at-main1"> 
                <div class="at-col1">
                <div class="hostel-name" > <a href="#"> 2nd-Floor </a></div>
        </div>
        </div>
        <div class="at-main">
                <div class="at-col-3">
                <div class="hostel-name" > <a href="#"> 3rd-Floor </a></div>
        </div>
        <div class="at-col-4">
        <div class="hostel-name" > <a href="#"> 4th-Floor </a></div>
        </div>
        </div>
        </div>
        {% endblock body %}