{% extends "side-menu.html" %} 
    {% block body %}
        <div class="main">
                <div class="row"></div>
        
        <div class="at-main">
                <div class="at-col-1">
                <div class="hostel-name" > <a href="hostel-1"><p> Boys Hostel 1 </p></a></div>
        </div>
        <div class="at-col-2">
             <div class="hostel-name" ><a href="hostel-2"><p> Boys Hostel 2</p></a></div>
        </div>
        </div>
        <div class="at-main1"> 
                <div class="at-col1">
                <div class="hostel-name" > <a href="hostel-3"><p> Boys Hostel 3</p></a> </div>
        </div>
        </div>
        <div class="at-main">
                <div class="at-col-3">
                <div class="hostel-name" > <a href="girls-hostel"><p> Girls Hostel</p> </a></div>
        </div>
        <div class="at-col-4">
        <div class="hostel-name" ><a href="green-hostel"><p> Green Hostel</p></a></div>
        </div>
        </div>
        </div>
        {% endblock body %}

