{% extends "side-menu.html" %} 
{% block body %}
        
        <div class="main">
                <div class="row">
        </div>
        <div class="at-main">
                <div class="at-col-1">
                <div class="hostel-name" > <a href="g-floor"><p> G-Floor </p></a></div>
        </div>
        <div class="at-col-2">
        <div class="hostel-name" > <a href="#"> <p>1st-floor</p> </a></div>
        </div>
        </div>
        <div class="at-main1"> 
                <div class="at-col1">
                <div class="hostel-name" ><a href="#"><p>2nd-Floor</p></a></div>
        </div>
        </div>
        <div class="at-main">
                <div class="at-col-3">
                <div class="hostel-name" > <a href="#"><p> 3rd-Floor</p> </a></div>
        </div>
        <div class="at-col-4">
        <div class="hostel-name" > <a href="#"><p> 4th-Floor</p> </a></div>
        </div>
        </div>
        </div>
        {% endblock body %}