{% extends 'student-side-menu.html' %} 
{% block body %} 
{% load static%}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="main">
    <div class="row">
    </div>
    <div class="row1">

    <table class="tbl-outing">
                <tr>
                    <th>Hostel</th>
                    <th>Room No.</th>
                    <th>Roll No.</th>
                    <th>Student Name</th>
                    <th>Out Time</th>
                    <th>In Time</th>
                    <th>Reason</th>
                    <th>Appruval</th>
                    
                </tr>
                {% for i in student_outing_status %}
                <tr>
                  <td>{{ i.hostel }}</td>
                   <td>{{ i.room_no }}</td>
                   <td>{{ i.roll_no }}</td>
                   <td>{{ i.student_name }}</td>
                   <td>{{ i.outing_time }}</td>
                   <td>{{ i.in_time }}</td>
                   <td>{{ i.reason }}</td>
                   <td>{{ i.Aaa }}</td>
                                         
                </tr>
                {% endfor %}
    </table>

    </div>
</div>
{% endblock body %}